@{ Layout = "~/Views/Shared/_LayoutPage.cshtml";}
<br /><br /><br /><br /><br /><br /><br />

<div class="container" style="text-align:center"><h1>PLEASE SIGN IN OR SIGN UP.</h1></div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

