@model Organizator.Entity.EventPeople

<div class="modal" id="myModalJoin">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post" action="JoinEvent">
                    Number of Seat   <input class="text" name="TotalPerson" type="number" min="1" max="5" style="height:40px; width:75px" />
                    <input type="hidden" name="EventID" />
                    <button type="submit" class="btn btn-primary">SET</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </form>
                
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
