@model Organizator.Entity.EventPeople
@{
    int id = 0;
    if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) != 0)
    {
        id = Convert.ToInt32(ViewContext.RouteData.Values["id"]);
    }
}
<div class="modal" id="myModalJoin">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("JoinEvent", "Event", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.Label("TotalPerson", "Number of Seat")
                        @Html.TextBoxFor(x => x.TotalPerson, new { @class = "form-control", type = "number", min = "1", max = "5", style = "height:40px; width:75px" })
                    </div>
                    <div class="form-group">
                        @if (id != 0)
                        {
                            @Html.HiddenFor(x => x.EventID == id, new { @class = "form-control" }) 
                        }
                    </div>
                    <button type="submit" class="btn btn-primary">SET</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                }
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
